textarea {
  resize: none;
  width: 100%; }

.w {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }
  .w .textWrapper {
    border-top: 1px solid black;
    padding-top: 0.5%; }
    .w .textWrapper .messageInfo {
      color: grey; }

.sideBar {
  z-index: 2;
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #30292f;
  top: 0;
  left: 0;
  color: #9f9f9f;
  overflow-y: auto; }
  .sideBar .info {
    font-size: 16px;
    margin: 10px 0 8px 14px; }
    .sideBar .info .teamName {
      color: white;
      font-size: 22px; }
      .sideBar .info .teamName a {
        color: #fff;
        text-decoration: none; }
  .sideBar .section {
    padding: 14px;
    font-size: 16px; }
    .sideBar .section .plus {
      float: right;
      display: block;
      height: 16px;
      width: 16px;
      line-height: 14px;
      border-radius: 50%;
      border: #9c9c9c solid 2px;
      color: #9f9f9f;
      text-align: center; }
  .sideBar .channels {
    font-size: 16px;
    margin: 0 0 0 34px;
    cursor: pointer; }
    .sideBar .channels a {
      color: #9f9f9f;
      text-decoration: none; }

.welcome {
  position: relative;
  top: 50%;
  left: 50%; }

.sideBarIcon {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 10px;
  color: #30292f;
  height: 20px;
  width: 30px; }

.content {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 250px; }
  .content .userInfo {
    width: 100%;
    padding: 15px 0 0 48px;
    border-bottom: solid 1px #e0e0e0; }
    .content .userInfo #labelSendTo {
      font-size: 18px;
      font-weight: bold; }
    .content .userInfo .fullName {
      margin: 14px 0 10px 0;
      font-size: 13px; }
  .content .historyMessages {
    overflow-y: auto;
    height: calc(100% - 116px);
    position: absolute;
    width: calc(100% - 298px);
    margin: 15px 0 0 48px; }
    .content .historyMessages .userName {
      font-weight: bold;
      display: inline; }
    .content .historyMessages .messageTime {
      display: inline;
      color: #bfbfbf; }
    .content .historyMessages .message {
      margin: 10px 0 20px 0;
      padding-right: 75px; }
  .content .sendWrapper {
    position: absolute;
    width: 100%;
    height: 37px;
    bottom: 8px;
    left: 0;
    padding-left: 290px;
    padding-right: 40px; }
    .content .sendWrapper .newMessage {
      float: left;
      height: 100%;
      width: 90%;
      padding: 7px;
      line-height: 19px; }
    .content .sendWrapper .sendMessage {
      float: left;
      height: 100%;
      width: 10%; }

@media screen and (max-width: 480px) {
  .sideBar {
    visibility: hidden; }
  .content {
    padding-left: 0; }
    .content .userInfo {
      text-align: center;
      padding-left: 0; }
      .content .userInfo .sideBarMask {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden; }
    .content .historyMessages {
      width: 100%; }
    .content .sendWrapper {
      padding-left: 10px;
      padding-right: 10px; }
      .content .sendWrapper .newMessage {
        width: 85%; }
      .content .sendWrapper .sendMessage {
        width: 15%; } }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: Arial; }

.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #30292f;
  text-decoration: none; }

.container {
  text-align: center; }
  .container .wrapper {
    margin-top: 1%;
    display: inline-block;
    text-align: left; }
    .container .wrapper .submit {
      height: 25px;
      width: 75px;
      margin-top: 7px;
      margin-bottom: 10px; }
    .container .wrapper .alignRight {
      float: right; }
    .container .wrapper input {
      margin: 0; }

.error {
  display: inline-block;
  font-size: 14px;
  color: #EF4836; }

/*# sourceMappingURL=app.css.map */
